.header_container {
  background-color: #1f68ae;
  color: white;
  height: 20rem;
}
.header_btn_container {
  margin-top:1rem;
  margin-left: 9rem;
  width: 60%;
  z-index: 2;
}
.header_btn {
  padding: 0.4rem 1.5rem;
  border-radius: 2rem;
  border: none;
  color: white;
  margin-right: 0.4rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
.header_btn:nth-child(2){
  margin-left:.4rem;
}
.header_center {
  width: 100%;
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  /* top: -6%; */
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -1%);
  /* justify-content: center; */
}
.heading {
  margin: 0.5rem 3rem;
  z-index: 2;
}
.header-heading {
  width: 25rem;
}
.header-paragraph {
  /* width: 27.5%; */
  width:21rem;
}
.header_btn.blue_background{
  background-color: #23abe5;
  border: 1.5px solid #23abe5;
}


.header_btn.blue_border {
  border: 1.5px solid #23abe5;
  background-color: transparent;
}

.header_btn.blue_background:hover{
  box-shadow: 0 4px 8px 0 rgba(10, 171, 230, 0.688), 0 6px 20px 0 rgba(16, 143, 234, 0.74);
}
.header_btn.blue_border:hover{
  box-shadow: 0 4px 8px 0 rgba(10, 171, 230, 0.688), 0 -1px 5px 0 rgba(16, 143, 234, 0.74);
}
.header_btn a{
  color:white;
  text-decoration: none;
}
.header_btn a:hover{
  color:white;
}


@media only screen and (max-width: 354px){
  .header_btn{
    padding: 0.4rem 0.7rem;
    margin-right: 5px;
  }
  .header_center{
    padding: 0;
  }
  .header_btn a{
    font-size: 10px;
  }

}
@media only screen and (max-width: 700px) {
  .header_center {
    width: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
  .header_container {
    height: 100%;
  }
  .header_btn_container {
    margin-left: 2.8rem;
    width: 80%;
  }
  .header_btn:nth-child(2){
    margin-left:0;
  }
}
@media only screen and (max-width: 500px) {
  .header_center{
    padding:.8rem;
  }
  .header_btn:nth-child(2) {
    margin-top: 0.5rem;
    margin-left:0;
  }
  .header-heading,
  .header-paragraph {
    width: 95%;
    margin: auto;
  }
  .header_btn_container {
    margin:.5rem auto .5rem .5rem;
    width: 100%;
  }
}
