.gridcontainer{
    display: grid;
    /* grid-template-rows:30%; */
    grid-template-columns: 50% 50%;
    background-color:#1f68ae;
    /* padding-top: 2%; */
    justify-content: space-around;
    width: 100%;
}

.contentheader{
    width: 90%;
    margin: 80px auto;
    color: white;
}
.headerimage img{
    height:100%;
    width: 55%;
    margin-left: 30%;
    
    
}

.contentheader p{
    font-size: 1rem;
}

/* @media only screen and (max-width: 500px) {
    .gridcontainer{
        grid-template-columns: 100%;
    }
    .contentheader{
        width: 90%;
        margin: 40px auto;
        color: white;
    }
    .contentheader p{
        font-size: .7rem;
    }
  } */
  @media only screen and (max-width: 600px) {
    .gridcontainer{
        grid-template-columns: 100%;
    }
    .contentheader{
        width: 90%;
        margin: 40px auto;
        color: white;
    }
    .contentheader p{
        font-size: .7rem;
    }
    .headerimage img{
        height:100%;
        width: 30%;
        /* margin-left: 50%; */
        
        
    }
  }