.mission-container{
    width:100%;
    background-color: skyblue;
}
.mission-heading{
    text-align: center;
}
.mission-contents{
    display: grid;
    grid-template-columns: 45% 45%;
    gap:1rem;
}
.mission-box{
    display: grid;
    grid-template-columns: 60% 40%;
}
.contents-paragraph{
    width:100%;
}
.contents-icons{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.contents-icons__image{
    width:40%;
    height: 50%;
}