/* .contract-div
{
    border: 1px solid;
} */
.contract-div h2
{
    padding-top: 2rem;
}
.contract-div p
{
    text-align: center;
    font-size: 18px;
}
.top-row
{
    /* border: 1px solid red; */
    padding-top: 1rem;
    justify-content: center;
}
.top-col
{
     /* border: 1px solid;  */
    text-align: center;
    width: 14%;
}
.cricle-div
{
    /* border: 1px solid; */
    /* background: linear-gradient(90.87deg, rgba(35, 171, 230, 0.37) 0.75%, rgba(35, 171, 230, 0.205) 54.19%); */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    margin-left: 55px;
    margin-bottom: 10px;
    border: 1px solid gray;
}
.top-col:hover 
{
   transition: 1s ease-out;
    
}
.top-col:hover .cricle-div
{
    background: linear-gradient(90.87deg, rgba(35, 171, 230, 0.479) 0.75%, rgba(35, 171, 230, 0.493) 54.19%);
    border: none;
    cursor: pointer;
    
}
.top-col:hover h5
{
    font-weight: 500;
    color: gray;
    cursor: pointer;
}
.top-col h5
{
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 0;
}
.top-col p
{
    color: rgba(128, 128, 128, 0.719);
    font-size: 28px;
    margin-bottom: 0;
}
.textrow
{
    /* border: 1px solid red; */
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}
.textcol
{
    /* border: 1px solid; */
    text-align: center;
    height: 200px;
    background: linear-gradient(90.87deg, rgba(35, 171, 230, 0.29) 0.75%, rgba(35, 171, 230, 0.1) 54.19%);
    margin-top: 1rem;
    
}
.textcol h4
{
    padding-top: 23px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
}
.textcol p
{
    padding-left: 20px;
    padding-right: 20px;
}
.progress-div
{
    /* border: 2px solid; */
    margin-top: 1rem;
    
}
.progress
{
    max-height: 6px;
    width: 72%;
    text-align: center;
    margin: auto;
    
}
.bar1
{
    background-color: blueviolet;
    margin-right: 2rem;
}

.bar2
{
    background-color: blueviolet;
    margin-right: 2rem;
}
.bar3
{
    background-color: blueviolet;
    margin-right: 2rem;
}
.bar4
{
    background-color: blueviolet;
    margin-right: 2rem;
}
.bar5
{
    background-color: blueviolet;
    
}
.outer-row
{
    /* border: 1px solid; */
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}
/* .outer-col
{
    border: 1px solid blue;
} */
.bgjob
{
    /* border: 1px solid red; */
    height: 50px;
    
    background-color: #CDE2B8;
}
.alljob-div
{
    float: left;
}
.alljob-div h3
{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 450;
}
.div-right
{
    /* border: 1px solid red; */
    float: right;
    text-align: center;
    margin: 6px 0 0 0px;
}

#dropdown-custom-1
{
    background-color: #CDE2B8;
    color: black;
    border: none;
    margin-right: 35px;
   
}

.filter-btn
{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-right: 28px;
   
}
.super-colors
{
    background-color: #CDE2B8;
    width: 180px;
}
.super-colors2
{
    background-color: #CDE2B8;
    width: 200px;
}
.super-colors3
{
    background-color: #CDE2B8;
   
}
.locationeg
{
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.jobitems
{
    padding-left: 1rem;
    padding-bottom: 3px;
    text-align: left;
}
.locationeg {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.644); 
    border-radius: 10px;
  }
#tech
{
    height: 12px;
    width: 12px;
    margin-right: 8px;
    cursor: pointer;
}
.inner-row
{
    /* border: 1px solid red; */
    justify-content: space-between;
    /* border-bottom: 2px dotted gray; */
    
}
/* .inner-col
{
    border: 1px solid; 
    border-bottom: 2px dotted gray; 
} */
.inner-col h5
{
    text-align: left;
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: 1.2rem;
}
.inner-col h5 a:hover
{
    text-decoration: underline;
   
}
.inner-col h5 a
{
    text-decoration: none;
}
.inner-col h6
{
    text-align: left;
    font-size: 1rem;
    padding-left: 1.3rem;
}
.inner-col p
{
    text-align: left;
    font-size: 15px;
    padding-left: 1.3rem;
}
/* .inner-col2
{
    border: 1px solid;
} */
.inner-col2 h5
{
    text-align: right;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-top: 3rem;
    padding-right: 20px;
    font-weight: 400;
    color: blue;

}
.inner-col2 h5 a:hover
{
    text-decoration: underline;
}
.inner-col2 h5 a
{
    text-decoration: none;
}
.num-p
{
    padding-left: 1.2rem;
    font-size: 1rem;
}