/* .contract-div
{
    border: 1px solid;
} */

.contract-div h2 {
  padding-top: 2rem;
}
.contract-div p {
  text-align: center;
  font-size: 18px;
}

.work-for-us-progress-bar-container {
  position: relative;
  margin: auto;
  height: 8rem;
  margin-top: 4rem;
  width: 85%;
}

.work-for-us-progress-bar-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  position: absolute;
  margin: 0;
  padding: 0;
  padding: 1.5rem;
  margin-top: -3rem;
}
.work-for-us-progress-bar-container li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  /* font-weight: 700; */
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 8rem;
  transition: all ease 0.2s;
}
.step-box {
  border: solid 2px #9c9c9c;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  transition: all ease 0.3s;
  margin: .1rem auto;
}
li.active .step-box, .step-box:hover {
  border: solid 2px #fff;
  background: linear-gradient(to right, #045ce9 0%, #fff 100%);
  height: 2rem;
  width: 2rem;
}
.work-for-us-progress-bar-container li .step-inner {
  width: 85%;
  /* font-size: 1.1rem; */
  margin: auto;
}
.work-for-us-progress-bar-container li.active:after {
  background: #045ce9;
}
.work-for-us-progress-bar-container li:after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: #9c9c9c;
  margin: auto;
  border: solid 0.7rem #f4fbff;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease 0.2s;
}
.work-for-us-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 10rem; */
}
.work-for-us-progress-bar-container .work-for-us-line {
  margin: auto;
  background: #eee;
  height: 7px;
  position: absolute;
  top: 5.7rem;
  width: 80%;
  z-index: 1;
  border-radius: 5rem;
  transition: all 0.9s ease;
}
.work-for-us-progress-bar-container .work-for-us-line-process {
  content: "";
  /* width: 0%; */
  height: 100%;
  background: #045ce9;
  background: linear-gradient(to right, #c8f3c6 0%, #3573d6ee 100%);
  position: absolute;
  z-index: 2;
  border-radius: 5rem;
  transition: all ease 0.9s;
}

.textrow {
  justify-content: center;
  text-align: center;
  /* padding-top: 1rem; */
}
.textcol {
  text-align: center;
  width:80%;
  /* height: 200px; */
  padding:2rem;
  margin-bottom:2rem;
  background: linear-gradient(
    90.87deg,
    rgba(35, 171, 230, 0.29) 0.75%,
    rgba(35, 171, 230, 0.1) 54.19%
  );
  margin-top: 1rem;
}
.textcol h4 {
  padding-top: 23px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.textcol p {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 900px){
  .work-for-us-progress-bar-container ul{
    /* flex-direction: column; */
  }
  .work-for-us-line-container{
/* transform: rotate(90deg); */
/* position: relative; */
/* top: 95px; */
/* right: 16.3rem; */
  }
} 
/* .top-row {
  padding-top: 1rem;
  justify-content: center;
}
.top-col {
  text-align: center;
  width: 14%;
}
.cricle-div {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  margin-left: 55px;
  margin-bottom: 10px;
  border: 1px solid gray;
}
.top-col:hover {
  transition: 1s ease-out;
}
.top-col::after{
  content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background: #9c9c9c;
    margin: auto;
    border: solid 0.7rem #F4FBFF;
    border-radius: 50%;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.2s;
}
.top-col.active::after{
  background-color: #045ce9;
}
.top-col:hover .cricle-div {
  background: linear-gradient(
    90.87deg,
    rgba(35, 171, 230, 0.479) 0.75%,
    rgba(35, 171, 230, 0.493) 54.19%
  );
  border: none;
  cursor: pointer;
}
.top-col:hover h5 {
  font-weight: 500;
  color: gray;
  cursor: pointer;
}
.top-col h5 {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 0;
}
.top-col p {
  color: rgba(128, 128, 128, 0.719);
  font-size: 28px;
  margin-bottom: 0;
}
.textrow {
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}
.textcol {
  text-align: center;
  height: 200px;
  background: linear-gradient(
    90.87deg,
    rgba(35, 171, 230, 0.29) 0.75%,
    rgba(35, 171, 230, 0.1) 54.19%
  );
  margin-top: 1rem;
}
.textcol h4 {
  padding-top: 23px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.textcol p {
  padding-left: 20px;
  padding-right: 20px;
}
.progress-div {
  margin-top: 1rem;
}
.progress {
  max-height: 6px;
  width: 72%;
  text-align: center;
  margin: auto;
}
.bar1 {
  background-color: blueviolet;
  margin-right: 2rem;
}

.bar2 {
  background-color: blueviolet;
  margin-right: 2rem;
}
.bar3 {
  background-color: blueviolet;
  margin-right: 2rem;
}
.bar4 {
  background-color: blueviolet;
  margin-right: 2rem;
}
.bar5 {
  background-color: blueviolet;
} */
