.main-divbg
{
    background-color: #f4fbff;
    border: 1px solid #f4fbff;
}
.top-row
{
    /* border: 1px solid red; */
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid rgb(240, 225, 225);
    border-top: 3px solid #0089ca;
    height: 100px;
    /* text-align: center; */
     margin-top: 3rem; 
}

.top-col h2
{
    text-align: left;
    color: #0089ca;
    padding: 25px 15px;
   
}
.top-col2
{
    /* border: 1px solid blue;  */
    text-align: end;
    padding: 18px 20px;
}
.top-btn{
    outline: none;
    border: none;
    cursor: pointer;
    padding:   50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(to bottom, #5eb572 5%, #1e7e34 100%);
    background-color: #77b55a;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    color: #fff;
    margin-right: 0.7rem;
    font-size: 1.1rem;
    text-shadow: 0px 1px 0px #5b8a3c;
    box-shadow: 0px 10px 14px -7px #3e7327;
    /* font-weight: 600; */
}
.top-btn a
{
    color: white;
    text-decoration: none;
}
.top-btn:hover
{
    text-decoration: underline;
    background: #03A63C;
}
.outer-row
{
    /* border: 1px solid; */
    justify-content: space-between;
}
.second-row
{
    /* border: 1px solid; */
    margin-top: 1rem;
    justify-content: space-between;
    text-align: center;

}
.left-col
{
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid rgb(240, 225, 225);
    border-top: 3px solid #0089ca;
    padding-bottom: 1rem;
}
.left-col h3
{
    font-size: 23px;
    color: #0089ca;
    font-weight: 500;
    text-align: left;
    padding: 10px 15px;
    margin-bottom: 0;
}
.left-col p
{
    font-size: 18px;
    text-align: left ;
    padding-left: 15px;
    font-weight: 600;
    
}
.left-col span
{
    font-weight: normal;
}
.right-col
{
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid rgb(240, 225, 225);
    border-top: 3px solid #0089ca;
    width: 65%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.right-col h3
{
    font-size: 23px;
    color: #0089ca;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
    padding-left: 15px;
   
}
.right-col p
{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
   
   
}
.section:hover
{
    background-color: rgba(128, 128, 128, 0.205);
}
.fa-solid{
    font-size: 22px;
    padding-left: 15px;
    margin-bottom: 1rem;
    color: #0089ca;
}

.inner-section{
    text-align: left;
    padding-left: 0.5rem;
}
.inner-loc
{
    padding-left: 1rem;
    
}
.inner-section h1{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 2px;
    margin-top: 7px;
}
.inner-section
{
    padding-bottom: 1rem;
}

.leftbottom-row
{
   
    margin-top: 1rem;
}
.leftbottom-col
{
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid rgb(240, 225, 225);
    border-top: 3px solid #0089ca;
    padding-bottom: 1rem;
}
.leftbottom-col h4
{
    text-align: left;
    color: #0089ca;
    padding: 15px 15px;
    font-size: 20px;
    padding-bottom: 0px;
}
.share-row
{
    /* border: 1px solid; */
    justify-content: center;
    
} 
.share-col
{
    
    padding-left: 20px;
    padding-top: 0.5rem;
}
 .socials
{
    border-right: 1px solid grey;
    height: 50px;
    padding-top: 8px;
    /* float: left; */
} 

.socials .fa-brands{
    margin-right: 22px;
    font-size: 2rem;

}

.fa-square-facebook{
    color: #1a91da;
}

.fa-linkedin{
    color: #1a91da;
}

.fa-square-twitter{
    color:#1a91da;
}
/* .vertical-div
{
    border: 1px solid;
    
}  */
.vertical-div p
{
    font-size: 23px;
    color: #1a91da;
    text-align: left;
    margin-bottom: 0;
}
.vertical-div a
{
    text-decoration: none;
}

.vertical-div span
{
    font-size: 15px;
}
.right-col h6
{
    text-align: left;
    color: #0089ca;
    padding-left: 15px;
    padding-bottom: 5px;

}

.right-col li
{
    text-align: left;
}
.benefits
{
    margin-bottom: 8px;
}
.italic{
    color: #2ecc71;
    font-weight: 500;
    font-size: 15px;
    padding-left: 7px;
    font-style: italic;
    
}

.apply-btn{
    outline: none;
    border: none;
    cursor: pointer;
    padding:  13px 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(to bottom, #5eb572 5%, #1e7e34 100%);
    background-color: #77b55a;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    color: #fff;
    margin-right: 0.7rem;
    font-size: 1rem;
    text-shadow: 0px 1px 0px #5b8a3c;
    box-shadow: 0px 10px 14px -7px #3e7327;
    margin-left: 28rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.apply-btn a
{
    color: white;
    text-decoration: none;
}
.apply-btn:hover
{
    text-decoration: underline;
    background: #03A63C;
}

 


@media screen and (min-width: 390px) and (max-width: 844px){
    .text{
        top: 15%;
        
    }
    

}
@media screen and (min-width: 360px) and (max-width: 740px){
   .top-row{
    border-top: 1px solid #0089ca;
    
   }
   .left-col{
    border-top: 1px solid #0089ca;
    }
    .leftbottom-col{
        border-top: 1px solid #0089ca;
    }
    .right-col{
        border-top: 1px solid #0089ca;
    }
    .text{
        width: 90%;
        left: 5%;
    }
    .top-row{
        margin-top: 0.5rem;
        height: auto;
    }
    .leftbottom-row{
        margin-top: 0;
    }
    .right-col{
        margin-top: 0;
    }
    .second-row{
        margin-top: 0;
        
    }
    .right-col{
        
        padding-bottom: 1rem;
    }
    .apply-btn{
        margin: 0;
    }
    .top-col2{
        padding: 0;
        margin-bottom: 1.5rem;
       text-align: right;
       margin-right: 1.5rem;
        
     }
     .top-col h2{
        padding: 10px 0;
     }
    .top-btn{
     padding-left: 1.2rem;
     padding-right: 1.2rem;
     padding-top: 7px;
       
    }
}


@media screen and (min-width: 820px) and (max-width: 1180px){
    .text{
        top: 15%;
    }
    .apply-btn{
        margin: 0;
    }
    .main-divbg{
        margin: 0;
        /* width: 100%; */
    }
    .top-btn{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 7px;
        
       }
    .inner-section{
        padding-left: 0;
    }
    .share-col{
        padding-left: 10px;
        width: 100%; 
        padding-bottom: 0.5rem;
    }
    .socials{
        height: auto;
    }
    .share-col2{
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    
    
    .main-divbg{
        margin: 0;
        
    }
    .top-row{
        margin-top: 0.5rem;
       /* height: auto; */
       justify-content: flex-end;
    }
    
    .text{
        top: 5%;

    }
    .top-col{
        width: 70%;
    }
    .top-col h2{
        padding-top: 13px;
        padding-bottom: 0; 
    }
    .top-btn{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 7px;
       
    }
    .inner-section{
        padding-left: 0;
    }
    .share-col{
        padding-left: 10px;
        width: 100%; 
        padding-bottom: 0.5rem;
    }
    .socials{
        height: auto;
    }
    .share-col2{
        width: 100%;
    }
    .apply-btn{
        margin: 0;
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 268px) and (max-width: 653px){
    .top-row{
        border-top: 1px solid #0089ca;
    }
    .left-col{
        border-top: 1px solid #0089ca;
    }
    .leftbottom-col{
        border-top: 1px solid #0089ca;
    }
    .right-col{
        border-top: 1px solid #0089ca;
    }
    .main-divbg{
        margin: 0;
        
    }
    .top-row{
        margin-top: 0.5rem;
        height: auto;
    }
    
    .top-col h2{
        /* font-size: 20px; */
        padding: 10px 0;
        margin-bottom: 0;
    }
    .top-col2{
        padding: 0;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
       text-align: right;
       margin-right: 1.5rem;
        
     }
    .top-btn{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 7px;
    }
    .text{
        top: 15%;
        left: 7%;
        width: 85%;
    }
    .apply-btn{
        margin: 0;
        margin-bottom: 1rem;
    }
    .leftbottom-row{
        margin-top: 0;
    }
    .right-col{
        margin-top: 0;
    }
    .second-row{
        margin-top: 0;
        
    }
    .socials{
        border: none;
    }
    /* .share-col2{
        padding-left: 1.5rem;
    } */
    .right-col{
        margin-top: 0;
        
    }
}
 @media screen and (min-width: 425px) and (max-width: 765px){
    
    .top-row{
        margin-top: 1rem;
        height: auto;
    }
   
} 
@media screen and (min-width: 600px) and (max-width: 1024px){
   
    .text{
        top: 12%;
    }
    .socials{
        border: none;
    }
    /* .share-col2{
        padding-left: 1.5rem;
    } */
}
@media screen and (min-width: 570px) and (max-width: 740px){
   
    .main-divbg{
        margin: 0;
    }
    .top-col2{
        padding: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
       text-align: right;
      
        
     }
    .top-btn{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 7px;
    }
    .fa-solid{
        padding-left: 5px;
    }
    .share-col{
        padding-left: 10px;
        width: 100%; 
        padding-bottom: 0.5rem;
        
    }
    .socials{
        height: auto;
        margin-left: 5px;
    }
    .share-col2{
        width: 100%;
    }
    .apply-btn{
        margin: 0;
    }
}
 @media screen and (min-width: 576px) and (max-width: 770px){
   
    
   
     .top-row{
        justify-content: flex-end;
    } 
   
    .top-col{
        width: 70%;
    }
   
    .top-col2{
    text-align: right;
    }
    .top-btn{
    text-align: right;
   }
   .share-col{
    width: 100%;
   }
}
@media screen and (min-width: 741px) and (max-width: 767px){
   
    .top-row{
        justify-content: center;
    }  
   
    .top-col h2{
       padding: 30px 0;
    } 
    .top-btn{
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
        text-align: center;
        width: 120px;
        margin-top: 10px;
    }
    .top-col2{
    text-align: right;
    }
}
@media screen and  (max-width: 770px){
    .apply-btn{
        margin: 1rem;
    }
   
    .details-container{
        max-width: 95%;
    }
    .share-col2{
        width: 100%;
    }
}
@media screen and  (max-width: 575px){
    .right-col{
        width: 100%;
    }
}
@media screen and  (max-width: 600px){
    .text{
        top:10%;
    }
}
@media screen and  (max-width: 1180px){
    .socials{
        border: none;
    }
}