.Servicemainbody{
    /* height:400px; */
    /* background-color: aquamarine; */
    padding: 2rem;
}
.Servicemainbody h2,p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #05A5FF; */
}

.mainbox{
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-rows: 300px 300px; */
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 2%;
    /* grid-row-gap: 4%; */
    width: 90%;
    margin: auto auto;
    /* padding: 2rem; */
    /* background-color: aqua; */
}
.mainData{
    height: 19rem;
    /* border: .5px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite;
    padding: 1rem; */
   
    /* border: 1px solid #F5E9E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem; */

    
}
.mainData img{
    /* height:45%; */
    width: 40%;
    /* padding: 0 0 1rem 0; */
    margin: 0 0 1rem 0;
    border-radius: 1rem;
    /* background-color: blue; */
  
}
.mainData h4{
   font-size: 1rem;
   /* width: 80%; */
   display: flex;
   justify-content: center;
  align-items: center;
}
.mainData p{
    font-size: .9rem;
    width: 80%;
    /* margin: auto; */
    line-height: 110%;
}
.mainData:hover{
    /* height: 18rem; */
    border: 1px solid #F5E9E9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}
.dbyaModal h5{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* .dbyaModal p{
    width: 90%;
    margin: 1rem auto;
} */
div .modalmain{
    
    max-width: 1100px;
    /* height: 800px !important; */
}
.modal-content{
   
    height: 80%;
    
}
div .modalmain .modalbody{
    padding: 0;
}
div .modalmain .modalheader{
    padding: 1rem;
    position: relative;
}
 div .modalmain .closeicon{
    /* color: blue; */
    font-size: 1.7rem;
}
div .modalmain .closeicon :hover{
    color: blue;
    
}
div .modalmain  .closeicon{
    position: absolute; right:1.5rem; top: .8rem;
}
@media only screen and (max-width: 900px){
    .mainbox{
        
        grid-template-columns: 50% 50% ;
        padding: .1rem;
        /* background-color: aqua; */
    }
    .mainData{
        height: 17rem;
        padding: .7rem;
    }
    .mainData p{
        font-size: .7rem;
        width: 90%;
        /* margin: auto; */
        line-height: 100%;
    }
    .mainData img{
        /* height: 35%; */
        width: 55%;
        /* padding: 0 0 1rem 0; */
        margin: 0 0 0rem 0;
        border-radius: 1rem;
        /* background-color: blue; */
      
    }
    
}


@media screen and (max-width: 600px) and (min-width: 500px){
    .modal-content:nth-child(1){
        height: 110%;
    }

    
}
@media screen and (max-width: 700px) and (min-width: 600px){
    .modal-content:nth-child(1){
   
        height: 125%;
        
    }
    div .modalmain{
    
        
       /* height: 100% !important; */
    }
}
@media screen and (max-width: 800px) and (min-width: 700px){
    .modal-content:nth-child(1){
   
        height: 100%;
    }
}

@media only screen and (max-width: 500px){
    .mainbox{
        
        grid-template-columns: 50% 50%;
        padding: .1rem;
        /* background-color: aqua; */
    }
    .modal-content{
   
        height: 115%;
    }
    
    
}
@media only screen and (max-width: 350px){
    .mainbox{
        
        grid-template-columns: 100%;
        padding: .1rem;
        /* background-color: aqua; */
    }
    
}

