.Servicemainbody {
  margin:1rem;
}
.Servicemainbody h2,
p {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #05A5FF; */
}

.mainbox {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 2%;
  width: 100%;
  margin: auto;
  padding: 1rem;
}
.mainData {
    padding: 0 1rem; 
  height: 19rem;
  cursor:pointer;
  /* border: .5px solid gray; */
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

}
.service-image{
    /* width: 100%; */
    padding:0 1rem;
    height:100%;
}
.mainData img {
  width: 95%;
  border-radius: 1rem;
}
.mainData h4 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainData p{
    width:100%;
}
.mainData:hover {
  /* height: 18rem; */
  /* border: 1px solid #f5e9e9; */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

div .modalmain {
  max-width: 1000px;
  /* height: 800px !important; */
}
.modal-content {
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .mainbox {
    grid-template-columns: 50% 50%;
    padding: 0.1rem;
    /* background-color: aqua; */
  }
  .mainData {
    height: 17rem;
    padding: 0.7rem;
  }
  .mainData p {
    font-size: 0.9rem;
    /* line-height: 100%; */
  }
}



@media only screen and (max-width: 500px) {
  .mainbox {
    grid-template-columns: 50% 50%;
    padding: 0.1rem;
    /* background-color: aqua; */
  }

}
@media only screen and (max-width: 350px) {
  .mainbox {
    grid-template-columns: 99%;
    padding: 0.1rem;
    row-gap: 0px;
    /* background-color: aqua; */
  }
}
