.letschatmain{
    background-color:#bfdbfe;
}
.letschatcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: .5rem 0 2rem  0; */
    padding:1rem;
    /* margin: 10px auto; */
}
.letschatcontent p{
    padding:1rem 0;
    margin:0;
}

.letschatcontent button{

    padding: .5rem 1.5rem;
    border: none;
    border-radius: .5rem;
    background: #23ABE6;
   
   
}

/* <Modal.Body>
   <h5 className=''>MobileApp Development </h5>
   <p>Mobile app development creates applications specifically for mobile devices. 
   Marketers can use mobile applications to manage content, share special offers,
    disseminate information, drive e-commerce, or make services available. 
    The average marketer can use modern tools to drag, drop, and deliver a basic app.</p>
    
   </Modal.Body>
    */